body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
  
}

html{
    scroll-behavior: smooth;
}


.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.logo img {
    max-height: 50px;
    float: left;
    margin-left: 20px;

}

.navbar-container {
    max-width: 100%;
    width: 500px;
    margin: 0 auto;
    background-color: none;
}


.navbar {
    display: flex;
    justify-content: center;
    padding: auto;

}

.navbar a {
    text-decoration: none;
    color: #36413E;
    margin: 15px 15px;
    font-weight: bold;
    font-size: 25px;
    position: relative;


}

.navbar a::before {
    background: #C1A05A;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }
  
  .navbar a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }


.footer {
    display: flex;
    justify-content: center;
    background-color: #242833;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    height: 2.5rem;
    width: 100%;
    flex: 1;

}

.footer p {
    font-size: 14px;

}


/* SQUAD PAGE CSS */

.player-section-container{
    max-width: 1000px;
    margin: 50px auto 50px auto;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 0px 2px  black;
    border-radius: 20px;
    
    
}

.psc-h2{
  text-align: left;
}

.player-h3{
    border-top: dotted 2px #242833;
    padding: 15px;
    text-align: right;
    font-size: 25px;
    
}

.player-nadpis {
    color: #FCBF00;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
}

.star-players p {
    color: #555;
    font-size: 20px;
}

.player-item{
    max-width: max-content;
    display: inline-block;
    margin: 6px;
    background-color: #ffffff;
    text-align: center;

}


.player-photo {
    width: 256px;
    height: 278px;
    object-fit: cover;
}

/* ASIDE LINKS */
.li-scroll{

    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #242833;
    padding: 2px 10px;

}

.ul-scroll{

    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
}

.aside{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 115px;
    background-color: #C1A05A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 15px 15px 0;
    
}

.aside a:hover {
    color: #fff;
}

.player-item {
  max-width: max-content;
  display: inline-block;
  margin: 6px;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden; /* Ensure any child content that overflows is hidden */
  position: relative; /* Set a relative position for child absolute positioning */
  cursor: pointer;
}

.player-photo {
  width: 256px;
  height: 278px;
  object-fit: cover;
  transition: transform .5s;
}


.hover-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  height: 278px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(54, 65, 62, 0.8);
  transition: all .4s;
  opacity: 0;
  color: #fff;
}

.player-item:hover .hover-details {
  opacity: 1;
}

.hover-details h3,
.hover-details p {
  margin: 0;
}

.hover-details li{

  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: #ffffff;
  padding: 2px 10px;

}

.ul-hover{
  text-align: left;
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
}

.player-item a {
  text-decoration: none; /* Remove default link underline */
  color: inherit; /* Inherit text color */
}