body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100%;
}

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  background-color: #242833;
}

.navbar-container {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 0px; /* Reset padding */
}

.navbar a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  position: relative;
  margin-right: 30px;
  text-transform: uppercase;
}

.navbar a:hover:after {
  bottom: -5px;
  opacity: 1;
  border-color: #c1a05a;
}

.navbar a:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  border-bottom: 2px solid white;
  background: white;
  bottom: -20px;
  opacity: 0;
  transition: 0.4s;
}

.navbar a + a {
  margin-left: 2rem;
}

.section {
  width: 65%;
  margin: 50px auto 10px auto;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid #193fa5;
}

.part-section {
  border-bottom: 1px solid #242833;
  display: flex;
  align-items: center;
}

.image-left {
  margin-right: 40px;
  margin-bottom: 20px;
  max-width: 15%;
  height: auto;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-bottom: 0;
}

.number-titles {
  text-align: center;
  margin-top: 0;
  font-weight: lighter;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}

.table-head {
  display: none;
}
